/*210 x 118*/

.row-item {
    padding: 8px;
    background-color: white;
    color: #121f3c;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 0 0;
    margin-bottom: 8px;
    position: relative;
}

.absolute-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.row-item-cross-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.row-item-cross {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    display: none;
}

.row-item:hover .row-item-cross {
    display: inherit;
}

.row-item:last-of-type {
    margin-bottom: 0;
}
