body {
  background-color: #70797e;
  padding: 8px;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.music-label {
  color: #121f3c;
  font-weight: bold;
  padding-left: 8px;
  line-height: 40px;
}

.container {
  background-color: #e6e7ec;
  width: 272px;
  padding: 8px;
  margin-right: 8px;
  border-radius: 3px;
}

.container:last-of-type {
  margin-bottom: 0;
}

.row-item {
  padding: 8px;
  background-color: white;
  color: #121f3c;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0 1px 0 0;
  margin-bottom: 8px;
}

.row-item:last-of-type {
  margin-bottom: 0;
}
