body {
  background-color: #70797e;
  padding: 8px;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.music-label {
  color: #121f3c;
  font-weight: bold;
  padding-left: 8px;
  line-height: 35px;
}

.container-radius {
  border-radius: 3px;
}
.column {
  min-width: 256px;
  width: 256px;
  margin-right: 8px;
}

.container {
  background-color: #e6e7ec;
  padding: 8px;
}
